@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.link-animated-underline::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 0px;
    height: 2px;
    background: #2A2D34;
    transition: all 0.45s;
}

.link-animated-underline:hover::after {
    width: 100%;
    left: 0;
}

.text-yellow.link-animated-underline::after {
    background: #FFB703;
}

.strong-title {
    color: #FFB703;
}

.animated-card::before {
    position: absolute;
    justify-self: center;
    align-self: center;
    content: '';
    width: 30%;
    height: 150%;
    inset: 0;
    background: #2A2D34;
    transform: rotate(35deg);
}

.animated-card:hover::before {
    animation: animate 2s linear infinite
}

.animated-card::after {
    position: absolute;
    content: '';
    background: #F5F7FA;
    border-radius: 8px;
    inset: 3px;
}  

@keyframes animate{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}